"*":
  "better-git-blame":
    searchInLayerEnabled: false
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 18
  "exception-reporting":
    userId: "05fca886-cce3-4a89-9c62-4b38efb29949"
  "language-log": {}
  "linter-pylint":
    disableTimeout: true
  "linter-ui-default":
    panelHeight: 209
  "python-black":
    fmtOnSave: false
    lineLength: 79
  welcome:
    showOnStartup: false
